@model BookingAppStore.Models.Purchase
@{
    ViewBag.Title = "Buy";
}

<div>
    <h3>Форма оформления покупки</h3>

@using (Html.BeginForm("Buy", "Home", FormMethod.Post))
    {
        @*<input type="hidden" value="@ViewBag.BookId" name="BookId" />*@
        @Html.HiddenFor(m=>m.BookId)
        <table>
            <tr>
                <td><p>@Html.LabelFor(m => m.Person, "enter you name")</p></td>
                <td>@Html.TextBoxFor(m => m.Person)</td>
            </tr>
            <tr>
                <td><p>@Html.Label("Address", "enter address")</p></td>
                <td>
                    @Html.TextBoxFor(m => m.Address) 
                </td>
            </tr>
            <tr><td><input type="submit" value="Send" /></td><td></td></tr>
        </table>
    }
    
</div>

