@model BookingAppStore.Models.Book

@{
    ViewBag.Title = "Edit";
}

<h2>Book № @Model.Id</h2>
@using (Html.BeginForm())
            {
<fieldset>
    @Html.HiddenFor(m => m.Id)
    <p>
        @Html.LabelFor(model => model.Name, "Name book")
        <br />
        @Html.EditorFor(model => model.Name)
    </p>
    <p>
        @Html.LabelFor(model => model.Author, "Author")
        <br />
        @Html.EditorFor(model => model.Author)
    </p>
    <p>
        @Html.LabelFor(model => model.Price, "Price")
        <br />
        @Html.EditorFor(model => model.Price)
    </p>       
        
        <p><input type="submit" value="Send" />
        
</fieldset>
            }

